@page "/Calculation/{Id:guid}"

@inject IBaseRepository<Calculation> _calculationRepository

<h3>Calculations</h3>


@code{
    [Parameter]
    public Guid Id { get; set; }

    public Calculation Calculation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Calculation = await _calculationRepository.GetById(Id);
    }
}