@page "/Calculation/{Id:int}"

@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<h3>Calculations</h3>


@code{
    [Parameter]
    public int Id { get; set; }
    public CalculationEntity Calculation { get; set; }

    private const string CalculationKey = "Calculations";


    protected override async Task OnInitializedAsync()
    {
        var calculations = await _localStorage.GetItemAsync<List<CalculationEntity>>(CalculationKey);

        Calculation = calculations.Single(x => x.Id == Id);
    }

}