@page "/Calculation/{Id:guid}"

@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<h3>Calculations</h3>


@code{
    [Parameter]
    public Guid Id { get; set; }
    public Calculation Calculation { get; set; }

    private const string CalculationKey = "Calculations";


    protected override async Task OnInitializedAsync()
    {
        var calculations = await _localStorage.GetItemAsync<List<Calculation>>(CalculationKey);

        Calculation = calculations.Single(x => x.Id == Id);
    }

}